*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
  background: #98A998;
}

.container{
  margin: 25px 0;
}

h1{
  margin-top: 30px;
}

#play, #reset{
  display: block;
  margin: 20px auto;
  padding: 5px 10px;
}

#chessmate{
  background: #1A587A;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  /* border: 1px solid #FE6107; */
  border: 1px solid black;
}

.wrapper{
  width: 70vw;
  margin: auto;
}

.chessbox{
  height: 50px;
  color: white;
  width: calc(100% / 10);
  text-align: center;
  line-height: 46px;
  /* border: 1px solid #FE6107; */
  border: 1px solid black;
}

.chessbox.bomb{
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes bombs {
  from{
    box-shadow: 0 0 black;
  }
  to{
    box-shadow: 10px 5px black;
  }
}
